p {
  margin: 0;
  padding: 0;
}

.list {
  position: relative;
  /* display: -webkit-flex;
  display: flex; */
  margin-top: .5rem;
  color: #3a3a3a;
  background-color: #fff;
  overflow: hidden;
}

.item {
  border-top: 1px solid rgba(204, 204, 204, 1);
  border-right: 1px solid rgba(204, 204, 204, 1);
  border-left: 1px solid rgba(204, 204, 204, 1);
  height: 1.8rem;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 .8rem;
}

.item:last-child {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
}
a{
  color: #3a3a3a;
}
i{
  font-weight: 900;
}

.txt{
  color: #666;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
}
