p,
ul,
h3 {
  margin: 0;
  padding: 0;
}

.page {
  background-color: #f5f5f5;
  font-size: .6rem;
}
.w50{
  width: 50%;
}
.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dn{
  display: none;
}


/*
  头部
 */

.bar-nav {
  top: .5rem;
  height: 5rem;
  background-color: #fff;
  padding: 0;
}


/* 标题
*/

.as-title {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #3d4145;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}


/*  搜索框
*/

.bar .searchbar {
  margin: 0;
  padding: 0 0.75rem;
  background-color: transparent;
}

.searchbar .search-input {
  width: 100%;
  height: 100%;
}

.searchbar .search-input input {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.icon-search:before {
  content: "\e61d";
}

.searchbar .icon-shanchu1 {
  position: absolute;
  font-size: 0.9rem;
  color: #b4b4b4;
  right: .5rem;
  top: 50%;
  -webkit-transform: translate3D(0, -50%, 0);
  transform: translate3D(0, -50%, 0);
}


/*
  查询记录
 */

.asc-history {
  position: absolute;
  width: 100%;
  z-index: 17;
  margin-top: 1rem;
  background-color: #fff;
}

.asc-history .asc-title,
.asc-history .asc-list-content {
  padding: 0 .75rem;
}

.asc-history .asc-list-content {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #333;
  line-height: 2.2rem;
}

.asc-history .asc-list-content span:nth-child(2) {
  color: #999;
}

.asch-bottom {
  display: block;
  text-align: center;
  line-height: 2.3rem;
  color: #333;
}


/*
  内容区域
 */

.bar-nav ~ .content {
  top: 6rem;
}

.asc-block {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  background-color: #fff;
  padding-bottom: .5rem;
}

.asc-title {
  position: relative;
  line-height: 1.75rem;
  font-weight: 700;
  color: #3a3a3a;
}

.asc-title,
.asc-list-content{
  border-bottom: 1px solid #e7e7e7;
}


/*
  无数据
 */

.asc-nodata {
  height: 10rem;
  padding: 1rem;
}

.asc-nodata .asc-nd-img {
  height: 6.5rem;
  background: url(../images/none-data.png) center center no-repeat;
  background-size: auto 100%;
}

.asc-nodata .asc-nd-desc {
  line-height: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #999;
}


/*
  列表
 */

.box-middel {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.asc-list {
  list-style: none;
}

.asc-list-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: .75rem 0;
  position: relative;
}

.asc-list-content .pic {
  width: 5.5rem;
  height: 4.2rem;
  margin-right: 0.75rem;
  overflow: hidden;
  display: block;
}

.asc-list-content .pic img {
  height: 4.2rem;
  width: 5.5rem;
  min-height: 4.2rem;
}

.asc-list-content .cont {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  padding:.1rem;
}

.asc-list-content h3 {
  margin-bottom: .3rem;
  font-size: .75rem;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}

.asc-list-content .tap {
  margin-bottom: .3rem;
  color: #333;
  line-height: 1;
}

.asc-list-content .tip {
  margin-bottom: .2rem;
  line-height: 1;
  color: #999;
}

.asc-list-content .tap span,
.asc-list-content .tip span {
  display: block;
  margin-right: .25rem;
}

.asc-list-content .tag {
  line-height: 1;
}

.asc-list-content .tag span {
  display: block;
  margin-right: .25rem;
  padding: .15rem .25rem;
  color: #96a9b3;
  background-color: #eef4f7;
}
.asc-list-content .tag span:empty{
  display: none;
}

.asc-list-loader {
  background-color: #f5f5f5;
  text-align: center;
  color: #999;
  line-height: 1.5rem;
  margin-top: .5rem;
}
