.wsn {
  white-space: nowrap;
  margin-right: .5rem;
}

.content-block {
  padding: 0rem;
}

.content-block-title {
  font-size: .9rem;
  margin-bottom: -.5em;
  background-color: #fff;
  padding: .2rem 0 .2rem .3rem;
  color: #000;
  text-align: left;
  font-weight: 700;
  line-height: 1.4rem;
}

.notification-wrapper {
  width: 7rem;
  float: right;
  margin-right: .7rem;
}

.grey-line {
  margin: 0 1rem;
  border-left: 1px dashed #ccc;
  padding-left: 1rem;
  position: relative;
  overflow: visible;
  padding-bottom: .5rem;
}

.round-border {
  background-color: #fff;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-boder-radius: .5rem;
  padding: .4rem .3rem .6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  height: 1.8rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transition-property: height;
  transition-property: height;
}

.round-border p {
  margin: 0;
}

.step-title {
  font-weight: 700;
  clear: both;
  margin-bottom: 0.1rem!important;
}

.step-button {
  float: right;
  margin-right: 1rem;
}

.icon-time {
  position: absolute;
  top: 0.5rem;
  left: -0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/clock.png) 50% 50% no-repeat #a3a19c;
  background-size: 1.1rem auto;
  border-radius: 50%;
}

.icon-finshed {
  position: absolute;
  top: 0.15rem;
  left: -0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/check.png) 50% 50% no-repeat #EFEFF4;
  background-size: 1.5rem auto;
}

.icon-disagree {
  position: absolute;
  top: 0;
  left: -0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/disagree.png) 50% 50% no-repeat;
  background-size: 1.2rem auto;
}

.icon-wait {
  position: absolute;
  top: 0;
  left: -0.55rem;
  width: 1.1rem;
  height: 1.1rem;
  background: #a3a19c;
  border-radius: 50%;
}

.icon {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.step-arrow {
  position: absolute;
  right: .5rem;
  font-size: .5rem;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.expended .step-arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ml-message {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: .4rem;
}

.wbw {
  word-wrap: break-word;
}

.tab {
  padding-top: 0.3rem;
}

.buttons-tab {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.node-flow {
  width: 100%;
}

.row-odd {
  background-color: #f9f9f9;
}

.row-even {
  background-color: #efefef;
}

.ower-icon {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-left: 0.5rem;
}

.ower-name {
  margin-left: 1rem;
}

.ower-list {
  background: #fafafa;
  display: none;
}

.auto-height {
  height: auto;
}

.step-link {
  color: #6d6d72;
}

.list-block a {
  color: #5f646e;
}
