ul,
p {
  margin: 0;
  padding: 0;
}

.require {
  color: #f00;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  -webkit-flex: 1;
  flex: 1;
}

.two-item {
  width: 50%;
  min-width: 50%;
}

.none {
  display: none;
}

.animate {
  height: 0px;
  overflow: hidden;
  transition: height 400ms;
}

.margin-top10px {
  margin-top: .5rem;
}

.margin-left10px {
  margin-left: .5rem;
}

.an-top2bottom {
  height: 167px;
}


/* 贷款匹配器 */

.bar {
  display: -webkit-flex;
  display: flex;
  padding-top: .5rem;
  height: 4.8rem;
  color: #fff;
  font-size: .7rem;
  text-align: center;
  background-color: #00b4ed;
}
.bar .flex-item{
  position: relative;
}
.bar .flex-item:nth-child(-n+3)::after{
  content: '';
  position: absolute;
  left: 65%;
  top: 1.25rem;
  margin-top: -1px;
  width: 70%;
  height: 1px ;
  background-color: #fff;
  z-index: -1;
}
.bar .cur .iconfont {
  color: #fff;
}

.bar .iconfont {
  font-size: 1.6rem;
  color: #2ac6f7;
}

.bar~.content {
  top: 5.3rem;
}

.forms-list {
  color: #3a3a3a;
  font-size: .8rem;
}

.forms-list>ul {
  padding-left: .7rem;
  list-style: none;
  background-color: #fff;
}

.forms-list .forms-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: .7rem;
  padding-left: 0;
}

.forms-list .forms-inner label {
  max-width: 4.8rem;
  min-width: 4.8rem;
  margin-right: .75rem;
}

.forms-list li {
  border-top: 1px solid #e7e8ea;
  line-height: 1.35rem;
}

.forms-list li.bottom-border {
  border-bottom: 1px solid #e7e8ea;
}

.forms-list li:first-child {
  border: 0;
}

.popup.popup-match {
  top: auto;
  bottom: 0;
  height: auto;
  min-height: 15rem;
  max-height: 95%;
}

.popup .forms-list li {
  line-height: 1rem;
}

.popup .forms-title {
  padding: .7rem;
  line-height: .8rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dedfe0;
}

.popup .selected {
  color: #f8b500;
}

.forms-list.btn-lign-buttom {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 2.2rem;
  overflow-y: auto;
}

.forms-list .buttons-row {
  margin-top: 1rem;
}

.buttons-row.align-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.buttons-row .button {
  margin: 0;
}

.buttons-row .button,
.buttons-row .button:first-child {
  height: 2rem;
  border: 0;
  color: #3a3a3a;
  border-radius: 0;
  font-size: .85rem;
  line-height: 2rem;
  background-color: #fff;
}

.buttons-row .button.active,
.no-result .button.active,
.own-modal .buttons-row .button.active {
  background-color: #f8b500;
  color: #fff;
}


/* 贷款查询 */

.content.btn-lign-buttom {
  bottom: 2.5rem;
}

.content~.buttons-row {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.content~.buttons-row .button.disabled {
  background-color: #ccc;
}

.result-list ul {
  list-style: none;
}

.result-list .li-title {
  /* margin-top: .5rem; */
  padding: 0 .7rem;
  font-size: .6rem;
  color: #a8a8a8;
}

.result-list .card {
  margin: 0;
  margin-top: .5rem;
  box-shadow: none;
}

.result-list .card-content-inner .two-item {
  width: calc(50% - .375rem);
  min-width: calc(50% - .375rem);
  white-space: nowrap;
}

.result-list .card-content-inner .two-item:nth-child(2n+1) {
  margin-right: .75rem;
}

.result-list .card .label-w70 {
  display: inline-block;
  width: 70px;
}

.result-list .card .label-gray {
  color: #a8a8a8;
}

.result-list .card .two-item {
  overflow: hidden;
}

.result-list .card .link-btn {
  display: block;
  width: 100%;
  /* color: #f91; */
  color: #3a3a3a;
  text-align: center;
}

.result-list .card .spc-item {
  display: inline-block;
  padding: 0 .25rem;
  margin-right: .25rem;
  font-size: .6rem;
}

.result-list .card .spc-1 {
  color: #00b4ed;
  background-color: #def7ff;
}

.result-list .card .spc-2 {
  color: #f8b500;
  background-color: #fffaeb;
}

.result-list .card .spc-3 {
  color: #0bd1a9;
  background-color: #defff8;
}

.result-list .card .spc-4 {
  color: #e71a20;
  background-color: #fef0f0;
}

.result-list .card .spc-5 {
  color: #9cca48;
  background-color: #f1ffd6;
}

.result-list .card .checkbox-file {
  width: 100%;
  font-size: .8rem;
  color: #3a3a3a;
}

.checkbox-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.checkbox-file .checkbox-title {
  font-weight: bold;
}

.result-list input[type="checkbox"] {
  visibility: hidden;
}

.result-list input[type="checkbox"],
.result-list input[type="checkbox"]:after {
  width: 1.8rem;
  height: 1.8rem;
}

.result-list input[type="checkbox"]:after {
  content: '\e622';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: .95rem;
  color: #fff;
  background-color: #a8a8a8;
  border-radius: 0 0 0 100%;
  text-indent: 35%;
  line-height: 1.5rem;
  font-family: "iconfont";
  z-index: 100;
  visibility: visible;
}

.result-list input[type="checkbox"]:checked:after {
  background-color: #9cca48;
}


/* 暂无数据 */

.no-result {
  display: none;
  margin-top: 9%;
  font-size: .8rem;
  color: #a8a8a8;
  text-align: center;
}
.no-result .fb{
  margin-bottom: 1.5rem;
  color: #3a3a3a;
}
.no-result .button{
  font-size: .9rem;
}
.no-result .button.active{
  border-color: transparent;
}

.no-result .iconfont {
  color: #dedfe0;
  font-size: 4rem;
}



/*  贷款申请 */

.main-list .forms-inner {
  justify-content: flex-start;
}

.form-list .selected-box {
  padding-top: .5rem;
  margin-bottom: -.4rem;
  line-height: 1.1rem;
}

.selected-box .selected-item {
  padding: .1rem .25rem;
  margin-left: .4rem;
  margin-bottom: .4rem;
  font-size: .7rem;
  color: #a8a8a8;
  border: 1px solid #e7e8ea;
}

.forms-inner .winput {
  flex: 1;
  border: 0;
}

.main-list .iconfont {
  font-size: 20px;
  color: #f8b500;
}

.main-list input[type="radio"] {
  width: 1rem;
  height: 1rem;
  position: relative;
  margin-right: .4rem;
  vertical-align: text-top;
  visibility: hidden;
}

.main-list input[type="radio"]:after,
.main-list input[type="radio"]:checked:before {
  content: '';
  position: absolute;
  visibility: visible;
  border-radius: 50%;
}

.main-list input[type="radio"]:after {
  left: -1px;
  top: -1px;
  width: 101%;
  height: 101%;
  border: 1px solid #f8b500;
  background-color: #fff;
  z-index: 100;
}

.main-list input[type="radio"]:checked:before {
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: #f8b500;
  z-index: 101;
}

.protocol {
  font-size: .6rem;
  color: #3a3a3a;
}

.result,
.links-box {
  font-size: .7rem;
  color: #a8a8a8;
}

.result {
  /* display: none; */
  /* height: 9.4rem; */
  padding: 1rem;
  margin-top: 1.7rem;
}

.result .result-desc {
  text-align: center;
}

.result .result-desc section {
  margin-bottom: .75rem;
}

.result .result-desc .fb {
  font-size: .9rem;
  color: #3a3a3a;
}

.result .icon-dagou2 {
  color: #9cca48;
  font-size: 2.75rem;
}
.no-result .button,
.result .result-desc .button {
  width: 7.1rem;
  margin: .5rem auto;
  height: 2.15rem;
  line-height: 2.15rem;
  color: #00b4ed;
  border-color: #00b4ed;
}

.links-box {
  position: absolute;
  bottom: 0;
  padding:.75rem;
  width: 100%;
  line-height: 1;
  background-color: #fff;
}
.links-box .flex-box{
  margin-top: .75rem;
  color: #3a3a3a;
}
.links-box a{
  text-decoration: underline;
}

.popup.popup-agreement {
  padding-top: .65rem;
  background-color: #efeff4;
}

.content-popup {
  position: relative;
  height: 100%;
  background-color: #fff;
  color: #000;
}

.content-popup h3 {
  margin: 0;
  font-size: .85rem;
  line-height: 2.75rem;
  text-align: center;
}

.content-popup section {
  position: absolute;
  top: 2.75rem;
  left: 1rem;
  right: .5rem;
  bottom: 3.1rem;
  overflow: auto;
}

.content-popup p {
  margin-bottom: .9rem;
  font-size: .7rem;
}


/* 弹窗  */

.own-modal {
  width: auto;
  left: 1rem;
  right: 1rem;
  margin-left: 0;
  text-align: left;
}

.own-modal .modal-inner {
  padding: 0;
  background-color: #fff;
}

.own-modal-inner {
  overflow-y: auto;
}

.own-modal .buttons-row .button {
  background-color: #efeff4;
}

.own-modal .own-modal-list {
  padding: 0 .7rem;
  font-size: .8rem;
  color: #3a3a3a;
  list-style: none;
}

.own-modal .modal-title {
  padding: .7rem;
  font-size: .9rem;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #e7e8ea;
}

.own-modal .own-modal-list li {
  /* display: -webkit-flex;
  display: flex; */
  padding: .45rem 0;
  border-top: 1px solid #e7e8ea;
}

.own-modal .own-modal-list li:first-child {
  border: 0;
}

.own-modal .modal-label {
  width: 6.4rem;
  min-width: 6.4rem;
  color: #a8a8a8;
}

.popup.popup-agreement {
  padding-top: 0;
}
